html, body {
    height: 100%;
}

body {
    background-image: url(https://images.unsplash.com/photo-1594463750939-ebb28c3f7f75?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-position: top;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form {
    background: white;
    opacity: 0.9;
    padding: 50px 20px;
    border-radius: 0px 30px;
    width: 50%;
    box-shadow: 0px 2px 10px 4px rgb(0 0 0 / 30%);
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
}

.btn-primary {
    color: #222;
    background-color: #fff;
    border-color: #d32f2f;
    transition-duration: 0.1s;
}

    .btn-primary:hover {
        background-color: #d32f2f;
        border-color: #d32f2f;
    }

button, input {
    margin: 10px;
}

.error-message {
    color: red;
    font-size: 18px;
}

table {
    border-spacing: 15px 0px;
    border-collapse: separate;
}

td {
    text-align: left;
}

    td:first-child {
        text-align: right;
    }
